<%- if controller_name != 'sessions' %>
  <p class="ml-5">
    <%= link_to "こちら", new_session_path(resource_name) %>
    <span>　からログインしてください。</span>
  </p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>
    <%= link_to "こちら", new_registration_path(resource_name) %>
    <span>　から新規登録を行ってください。</span>
  </p>
<% end %>


