<div class="row mt-5">
  <div class="col-4 offset-1">
    <h3 class="bg-gray d-inline-block text-center fw-bold px-4">商品新規登録</h3>
  </div>
</div>
<% submit_label = "新規登録" %>
<%= render 'item_form', item: @item, submit_label: submit_label %>