<p class="text-center" style="font-size:4rem;">About</p>
<p class="text-center" style="font-size:28px;">
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
</p>
<div class="d-flex justify-content-center mb-3">
  <p style="background-image:url(<%= asset_path('abc_cooking.jpg') %>); background-size:cover; background-position:center; height:300px; width:600px;">
  </p>
</div>